/* Padrão */

body {
  margin: 0;
  font-family: Arial;
}

section {
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Formatações */

.display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* Menu */

header {
  background-color: black;
  color: white;
  height: 80px;
  position: absolute;
  width: 100%;
}

#logo {
  width: 90px;
  background-color: black;
  position: absolute;
  padding: 10px 20px;
  border-radius: 20px;
  float: left;
}

#menu {
  justify-content: flex-end;
  list-style: none;
  margin: 0% 3%;
  padding-left: 0;
}

li {
  padding: 28px 30px 27px;
  font-size: 16pt;
}

li:hover {
  background-color: #00610d;
  transition: 0.15s;
}

/* Título */

#imgfundo {
  padding: 0%;
  background: url("https://r4.wallpaperflare.com/wallpaper/585/258/417/simple-simple-background-minimalism-abstract-wallpaper-a93048dd21aa6d8bc6e7f87f40b136ad.jpg");
  background-size: cover;
  width: 100vw; /* % view width */
  height: 100vh; /* % view height */
  color: white;
  text-shadow: black 3px 3px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

#text-title {
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 50%;
}

#title {
  font-size: 250%;
  margin: 5% 10% 0px 10%;
}

#sbtitle {
  border-top: 5px solid white;
  font-size: 150%;
  margin: 10px 10% auto 10%;
  padding: 10px;
}

#we {
  width: 80%;
  border-radius: 50px;
  border: solid black;
  box-shadow: black 20px 16px 1px;
}

/* Responsividade */

@media all and (max-width: 999px) {
  #menu {
    visibility: hidden;
  }

  #logodiv {
    width: 100%;
    position: relative;
    text-align: center;
  }

  #logo {
    margin-left: 0;
    transform: translateX(-50%);
  }

  #text-title {
    width: 100%;
  }

  #title {
    font-size: 165%;
    margin: 200px 10% 0% 10%;
  }

  #sbtitle {
    border-top: 5px solid white;
    font-size: 110%;
    margin: 10px 10% auto 10%;
    padding: 10px;
  }

  #we {
    width: 60%;
    margin: 0px 5%;
    border-radius: 50px;
    border: solid black;
    box-shadow: black 8px 6px 1px;
  }
}
